<!doctype html>
<html lang="en" ng-app>
<head>
	<script type="text/javascript" src="components/angular/angular.min.js"></script>
	<script type="text/javascript" src="todo.js"></script>
	<meta charset="UTF-8">
	<title>Test Document</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
	<body>
		<h2>Todo</h2>
		<div ng-controller="TodoCtrl">
			<span>{{remaining()}} of {{todos.length}} remaining</span>
			[ <a href="" ng-click="archive()">archive</a> ]
			<ul class="unstyled">
				<li ng-repeat="todo in todos">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
			<form ng-submit="addTodo()">
				<input type="text" ng-model="todoText" size="30"
				placeholder="add new todo here">
				<input class="btn-primary" type="submit" value="add">
			</form>
			<br>
			<span>{{greeting.content}}</span>
			<br>
		</div>
	</body>
	<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</body>
</html>